@tailwind base;

@layer base {
  .nav-items {
    @apply flex justify-center items-center text-primary-1
        sm:flex-col sm:items-start sm:gap-8 sm:uppercase
        lg:flex-row lg:gap-4 lg:capitalize 
        xl:gap-8;
  }

  .nav-items a {
    @apply relative
        sm:font-['Josefin_Sans'] sm:text-3xl
        lg:font-['Alata'] lg:text-base;
  }

  .hoverable {
    @apply pb-2
        after:absolute after:left-1/2 after:translate-x-[-50%] after:bottom-0 after:z-[41] after:w-0 after:border-t-2 after:rounded-full
         hover:after:w-1/2 hover:after:transition-[width];
  }

  .nav-item .hoverable {
    @apply sm:after:left-0 sm:after:translate-x-[0] sm:hover:after:w-full
        lg:after:left-1/2 lg:after:translate-x-[-50%] md:hover:after:w-1/2;
  }

  /* banner design  */
  .banner {
    @apply basis-full grow flex justify-center items-center text-primary-1
    sm:h-screen sm:pr-[5rem]
    md:h-screen md:pr-[8rem]
   
    lg:justify-start
    lg:px-[10%];
  }

  .banner-content {
    @apply border border-primary-1 font-josefin 
    sm:basis-full sm:p-7 sm:text-4xl
    md:text-[3em] md:p-12
    lg:max-w-[15ch] 
    xl:text-6xl;
  }

  .banner-content p {
    @apply uppercase leading-tight
    sm:max-w-[10ch]
    lg:max-w-[15ch];
  }

  /* Intro Section */

  .intro-section {
    @apply grid gap-8
    sm:px-6 sm:py-24
    md:px-8
    lg:px-[10%] lg:py-16 lg:grid-cols-8 lg:grid-rows-4 lg:gap-0
    xl:grid-rows-3;
  }

  .intro-img {
    @apply lg:row-start-1 lg:row-end-4 lg:col-start-1 lg:col-end-8;
  }

  .intro-content {
    @apply text-center bg-primary-1
    sm:text-center
    lg:row-start-2 lg:row-end-5 lg:col-start-3 lg:col-end-9 lg:p-16 lg:text-left
    xl:row-start-2 xl:row-end-4 xl:col-start-5;
  }

  .content-title {
    @apply font-josefin leading-tight  uppercase
    sm:text-4xl
    md:text-[2em];
  }

  .content-text {
    @apply text-primary-3
    sm:p-6 sm:pb-0
    md:p-10
    lg:p-0 lg:mt-8;
  }

  /* creation section */

  .creation_section {
    @apply flex justify-center items-center gap-4 pb-24 mb-24
    sm:flex-col sm:p-4
    md:p-8
    lg:px-[10%] lg:flex-row lg:flex-wrap lg:mb-16;
  }

  .creations_title {
    @apply font-josefin text-[2.5em] py-8
    sm:text-4xl sm:order-1
    md:text-[2.5em]
    lg:grow;
  }

  .all_button {
    @apply border-2 border-primary-2 px-16 py-2 my-4 transition
    sm:order-3
    hover:bg-primary-2 hover:text-primary-1
    lg:order-2;
  }
  .creation_grid {
    @apply grid
    sm:order-2 sm:grid-cols-1 sm:gap-4
    md:gap-8 md:grid-cols-2 md:grid-flow-row
    lg:order-3 lg:basis-full lg:gap-4 lg:grid-cols-4 lg:grid-flow-row;
  }

  .creations {
    @apply relative max-w-fit;
  }

  .creation_img {
  }

  .creation_title {
    @apply absolute top-0  left-0 w-full h-full bg-gradient-to-r
     from-primary-2 opacity-70 z-10 text-primary-1 transition
     hover:bg-primary-1 hover:text-primary-2 hover:bg-none;
  }

  .creation_title_text {
    @apply absolute bottom-4 left-4 text-2xl font-josefin max-w-[8ch] z-20 transition;
  }

  /* end of layer */
}
